.tasks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    position: relative;
}

.tasks::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 2px;
    height: 500px;
    background-color: var(--secondary-clr);
}

.right-side {
    margin-left: 1rem;
}