:root {
  --primary-clr: #0d2c6a;
  --secondary-clr: #eceef0;
  --accent-clr: #3b3c40;
  --cta-clr: #ff643b;
  --white-clr: #fefefe;
}

/* utility class */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-inline: 1rem;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1180px;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1365px;
  }
}

/* Util Classes */

.flex {
  display: flex;
}

.list-wrapper {
  position: absolute;
  padding: 3rem;
  background-color: var(--white-clr);
  border-radius: 2rem;
  height: 90vh;
  width: 80vw;
  max-width: 1365px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@media (max-width: 768px) {
  .list-wrapper {
    padding: 2rem;
    width: 90vw;
  }
}